<h1>ALL BLOGS </h1>


<div>
    <%for(var i =0;i< data.length; i++){ %>
    <li>
        <%= data%>
    </li>

    <form action="/" method="PUT">
        <input type="text" class="form-control" id="bloginput1" name='newcontent' placeholder="Enter updateblog">
        <button   type="submit"   class="btn btn-danger" >update</button>
    </form>
    <form action="/" method="DELETE">
        <button   type="submit"   class="btn btn-danger" >delete</button>
    </form>
        <% }%>
    </div>
    