<form action="/getBlog/" method="POST">
        <div class="form-group">
          <label for="formGroupExampleInput">Creat New Blog</label>
          <input type="text" class="form-control" id="bloginput" name='content' placeholder="Enter blog">
          <button   type="submit"   class="btn btn-danger" >post</button>
        </div>
</form>

<form action="/getBlog/getdata" method="GET">
        <div class="form-group">
          <button   type="submit"   class="btn btn-danger" >ALL BLOGS</button>
        </div>
</form>