
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">BLOGS</a>
        </li>
        <li class="nav-item">
            <form action="/" method="get">

                <button   type="submit"   class="btn btn-danger" >logout</button>
            </form>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <form action="/getBlog" method="get">
        <button   type="submit"   class="btn btn-danger" >getBlog</button>
    </form>
    </div>
  </div>
  